body {
    width: 100%;
    margin: 100px;
    margin-left: 100px;
    background-color: rgb(128, 67, 128);
 }
  
 #profile-container{
    max-width: 300px;
    background-color: rgb(180, 125, 182);
    border: 4px solid rgb(209, 174, 203);
    border-radius: 6px;
 }
  
 #profile-image{
    width: 100%;
    height: auto;
 }
  
 #profile-name{
    text-align: center;
 }
 #footer {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: burlywood;
    text-align: center;
    color: white;
 }
#header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: burlywood;
    text-align: center;
    color: white;
 }